#spotlight {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: radial-gradient(circle, transparent 0%, rgba(0, 0, 0, 0.8) 70%, black 100%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: spotlight-expand 3s forwards;
    z-index: 0;
}


@keyframes spotlight-expand {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }
    50% {
        width: 300px;
        height: 300px;
        opacity: 1;
    }
    100% {
        width: 2000px;
        height: 2000px;
        opacity: 0;
    }
}

.main-content {
    opacity: 0;
    transition: opacity 2s ease-in-out;
    position: relative;
    z-index: 1;
}
.main-content.show {
    opacity: 1;
}
